<!doctype html>
<html lang="es-PE">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>{{servicios_categorias.extra_categorias['meta']['titulo']}}</title>
    <meta name="description" content="{{servicios_categorias.extra_categorias['meta']['descripcion']}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{servicios_categorias.extra_categorias['meta']['titulo']}}" />
    <meta property="og:site_name" content="{{config.facebook_site_name}}" />
    <meta property="og:image" content="{{config.facebook_banner}}" />
    <meta property="og:image:secure_url" content="{{config.facebook_banner}}" />
    <meta property="og:locale" content="{{config.facebook_locale}}" />
    <meta property="og:description" content="{{servicios_categorias.extra_categorias['meta']['descripcion']}}" />
    <meta property="og:url" content="{{request}}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{servicios_categorias.extra_categorias['meta']['titulo']}}" />
    <meta name="twitter:description" content="{{servicios_categorias.extra_categorias['meta']['descripcion']}}" />
    <meta name="twitter:image" content="{{config.facebook_banner}}" />
    <meta name="twitter:domain" content="{{request}}">
    {% include(recursos ~ '/recursos/recursos.twig') %}
</head>

<body class="page_category">
    {% include(recursos ~ '/recursos/header.twig') %}
    <main>
        <section class="breadcrumb-area bg-img">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>{{servicios_categorias.name_categorias}}</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{url}}">Inicio</a></li>
                            <li class="breadcrumb-item"><a href="{{url}}/servicios">Servicios</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{servicios_categorias.name_categorias}}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>
        <section id="services_detail" class="padding">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <img src="{{servicios_categorias.photo_categorias['principal']['file']}}" alt="{{servicios_categorias.name_categorias}}" class="img-fluid w-100">
                        <div class="title">
                            <p><img src="{{theme}}/images/decor-3.png" alt="Shaddai">Descripción</p>
                            <h3>{{servicios_categorias.extra_categorias['texto']['titulo'] | raw }}</h3>
                        </div>
                        <div class="content">
                            {{servicios_categorias.extra_categorias['texto']['descripcion'] | raw}}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% set sec_servicio = servicios.listado(page, 12, null, servicios_categorias.id_categorias) %}
        {% if sec_servicio.listado | length > 0 %}
        <section id="services" class="padding bg-img">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-12">
                        <div class="title">
                            <p><img src="{{theme}}/images/decor-3.png" alt="Shaddai"><span>Nuestros Servicios</span><img src="{{theme}}/images/decor-2.png" alt="Shaddai"></p>
                            <h2>{{servicios_categorias.name_categorias}}</h2>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row justify-content-center">
                            {% for key, item in sec_servicio.listado %}
                            <div class="col-service col-md-6 col-sm-6 col-xs-12">
                                <a href="{{url}}/servicios/{{item.seo}}">
                                    <div class="item">
                                        <div class="item-image d-flex align-items-center">
                                            <img src="{{item.photo['portada']['file']}}" alt="{{item.name}}" class="img-fluid">
                                        </div>
                                        <div class="item-text">
                                            <h2>{{item.name}}</h2>
                                            <p>{{item.extra['texto']['pdescripcion']}}</p>
                                            <span><img src="{{item.photo['icono']['file']}}" alt="{{item.name}}"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% else %}
        {% endif %}
        <section id="contact" class="padding bg-img">
            <div class=" container">
                <div class="row justify-content-center">
                    <div id="contacto" class="col-info col-md-4 col-xs-12">
                        <div class="title">
                            <h2 class="text-left"><span>Contáctanos</span></h2>
                        </div>
                        <div class="correos">
                            <p><i class="fal fa-envelope"></i>Correo</p>
                            <ul>
                                <li>{{config['email'][0]}}</li>
                                <li>{{config['email'][1]}}</li>
                            </ul>
                        </div>
                        <div class="telefonos">
                            <p><i class="fal fa-phone"></i>Teléfonos</p>
                            <ul>
                                <li>Ofic. {{config['telefono'][0]}}</li>
                                <li>Ofic. {{config['telefono'][1]}}</li>
                            </ul>
                        </div>
                        <div class="direccion">
                            <p><i class="fal fa-map-marker-alt"></i>Dirección</p>
                            <ul>
                                <li>{{config['direccion'] | raw}}</li>
                                <li>{{config['direccion2'] | raw}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 col-xs-12 text-center">
                        <form method="post" enctype="multipart/form-data">
                            <div class="title">
                                <h2>Solicitar <span>Cotización</span></h2>
                            </div>
                            <div class="form-row">
                                <p class="text-center">Sabemos lo importante que es para ti estar siempre asesorado. Por esta razón,
                                    te alentamos a que nos escribas sobre el servicio de asesoría que estarías interesado
                                    para poder atenderte de la mejor manera.</p>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="company" name="company" placeholder="Empresa" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Correo" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="message" name="message" placeholder="Mensaje" rows="10"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary btn-shaddai">Enviar Mensaje</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include(recursos ~ '/recursos/footer.twig') %}
    {% include(recursos ~ '/recursos/javascript.twig') %}
</body>

</html>