<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{{internas.extra_internas['meta_titulo']}}</title>
	<meta name="description" content="{{internas.extra_internas['meta_descripcion']}}" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{internas.extra_internas['meta_titulo']}}" />
	<meta property="og:site_name" content="{{config.facebook_site_name}}" />
	<meta property="og:image" content="{{config.facebook_banner}}" />
	<meta property="og:image:secure_url" content="{{config.facebook_banner}}" />
	<meta property="og:locale" content="{{config.facebook_locale}}" />
	<meta property="og:description" content="{{internas.extra_internas['meta_descripcion']}}" />
	<meta property="og:url" content="{{request}}">
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{internas.extra_internas['meta_titulo']}}" />
	<meta name="twitter:description" content="{{internas.extra_internas['meta_descripcion']}}" />
	<meta name="twitter:image" content="{{config.facebook_banner}}" />
	<meta name="twitter:domain" content="{{request}}">
	{% include(recursos ~ '/recursos/recursos.twig') %}
</head>
<body>
	{% include(recursos ~ '/recursos/header.twig') %}
	<main>
		<section id="map">
			<div id="map_canvas"></div>
		</section>
		<section id="contacto" class="section padding">
			<div class="container">
				<div class="head">
					<h1 class="text-center">
						<span>Contact US</span>
					</h1>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="body">
							<p>
								<b>{{config['copyright']}}</b> <br>
								{{config['direccion'] | raw }} <br>
								<b>Cell:</b> {{config['telefono'][0]}}<br>
								<b>Shop Tel:</b> {{config['telefono'][1]}}
							</p>
							<p>
								Email: <a href="mailto:{{config['email']}}">{{config['email']}}</a>
							</p>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="body">
							<h3>Thanks!</h3>
							<p>We will be responding in a maximum period of 24 hours.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{% include(recursos ~ '/recursos/footer.twig') %}
	{% include(recursos ~ '/recursos/javascript.twig') %}
</body>
</html>